:root{
    --success-color:rgb(15, 223, 74);
    --warning-color:rgb(222, 236, 17);
    --error-color:rgb(222, 30, 30);
    
    --success-background:rgba(12, 184, 32, 0.5);
    --warning-background:rgba(222, 236, 17,0.4);
    --error-background:rgba(222, 30, 30,0.4);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(224, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Times New Roman';
}
.toast button{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin: 10px;
    font-size: 20px;
    color: white;
}
.toast_success{
    background: var(--success-color);
    cursor: pointer;
}
.toast_warning{
    cursor: pointer;
    background: var(--warning-color);
}
.toast_error{
    cursor: pointer;
    background:var(--error-color);
}
.messages{
    top:10px;
    right: 10px;
    position: fixed;
}
.message{
    margin-bottom: 10px;
    color:white;
    background:var(--success-background);
    border-radius: 5px;
    padding: 20px 50px;
    font-size: 20px;
    border-left: 6px solid var(--success-color);
    overflow: hidden;
    /* animation: show_message_hide 1.5s ease forwards; */
    animation: show_message 1.5s ease forwards;
}

i{
    margin-right: 20px;
}
.message .countdown{
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    position: absolute;
    background:var(--success-color);
    animation: show_bottom_message 2s ease forwards;
}

@keyframes show_bottom_message{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
@keyframes show_message{
    /* 0%{
        transform: translateX(100%);
    } */
    0%{
        transform: translateX(-10%);
    }
    25%{
        transform: translateX(10%);
    }
    50%{
        transform: translateX(-6%);
    }
    75%{
        transform: translateX(6%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes show_message_hide{
    0%{
        transform: translateX(-6);
    }
    25%{
        transform: translateX(6%);
    }
    50%{
        transform: translateX(-10%);
    }
    75%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(200%);
    }
}