@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#4daf54;
}
body{
    font-family: 'poppins';
    background: linear-gradient(to right, #4daf54, #3d8880);
}
.card{
    width: 320px;
    height: 400px;
    background: #272d40;
    margin: 120px auto;
    border-radius: 15px;
    padding:30px;
}

.icon_top,.heart,.cart{
    color:white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}
.image, .img img{
    width: 95%;
    position: relative;
    transition: 0.5s;
}
.img{
    width: 100%;
    height: 100%;
    position:absolute;
    object-fit: cover;
}
.title_information,.title_product,.title_price{
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}
.title_product{
    color: var(--primary-color);
    margin-top: 160px;
}
.information_product,.size_product,.color_product,.action_product{
    margin: 10px 5px;
    padding: 0px 5px;
    color:white;
    margin-left: 0px;
}
.size_product span{
    background: #dadada;

    padding: 0px 10px;
    color:black;
    font-weight: bold;
    margin: 2px 5px;
    border-radius: 10px;
    cursor: pointer;
    
} 
.size_product{
    display:flex;
    height: 38px;
    line-height: 38px;
}
.color_product span{
    width: 20px;
    border-radius: 50%;
    padding: 0px 10px;
    margin: 2px 5px;
}
.color_product{
    display: flex;
    height: 20px;
    line-height: 20px;
}
.color_green{
    background: green;
}
.color_red{
    background: red;
}
.color_black{
    background:black;
}
.action_product button{
    background: var(--primary-color);
    border-radius: 10px;
    border-color: var(--primary-color);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 10px;
    margin: 4px;
    transition: 0.5s;
}
.card:hover .image{
    transform: rotate(-20deg) translateY(-90px);
}
.card:hover .title_information{
    transform: translate(-50px) translateY(-90px);
}
.card:hover .title_price{
    transform: translate(-60px);
}
.information_product {
    display:grid ;
    margin: -10px;
    margin-top: 200px;
    visibility: hidden;
    opacity: 0;
   
}
.card:hover .information_product{
    visibility: visible;
    margin-top:-35px;
    opacity: 100;
    padding: auto;
    transition: 0.5s;
    transition-delay: 0.1s;
}
.action_product button:hover{
    padding:3px 5px;
    transform:scale(0.8s);
}